/UnityProject/Assembly-CSharp-firstpass.csproj
/UnityProject/RosenKoenig.sln
/UnityProject/Assembly-CSharp.csproj
/UnityProject/Assembly-CSharp-Editor.csproj
/UnityProject/obj/Debug
/UnityProject/UnityProject.sln
UnityProject/Library/
UnityProject/Temp/
